/* Primary colors */
$color-primary-dark: #323232;
$color-text-primary: #ffffff;
$color-text-secondary: #afafaf;

/* Secondary colors */
$color-cta-hover: #000000;
$color-ui-secondary: #e1e1e1;
$color-background-secondary: #fafafa;
$color-ui-danger: #d22d2d;
