@use "../colors" as colors;
@use "../breakpoints" as breakpoint;
@use "../mixins" as mixins;

/* styles for footer for mobile */
.footer {
  background-color: colors.$bandsite-black;
  padding: 0 1rem 1rem;

  &__title {
    @include mixins.title(colors.$white, 1.5rem, 2rem, 600);
    margin: 0;
    padding: 1.5rem 0 1rem;
  }

  &__icon {
    padding-right: 2rem;
  }

  &__logo {
    padding-top: 2rem;
  }

  &__text {
    @include mixins.title(colors.$white, 0.8125rem, 1.125rem, 400);
    margin: 0;
    padding-top: 1rem;
  }
}
