@use "../colors" as colors;
@use "../breakpoints" as breakpoint;
@use "../mixins" as mixins;

/* styles for footer for mobile */
.footer {
  background-color: colors.$bandsite-black;
  padding: 0 1rem 1rem;

  &__container {
    padding-bottom: 1rem;
  }

  &__contact {
    padding-bottom: 1rem;
  }

  &__title {
    @include mixins.title(colors.$white, 1.5rem, 2rem, 600);
    margin: 0;
    padding: 1.5rem 0 1rem;
  }

  &__icon {
    padding-right: 2rem;
  }

  &__logo {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  &__text {
    @include mixins.title(colors.$white, 0.8125rem, 1.125rem, 400);
    margin: 0;
    // padding-bottom: 1rem;
    text-decoration: none;
  }

  &__spacing {
    margin: 0 solid colors.$bandsite-black;
  }
}

/* styles for footer on tablet device */
@include breakpoint.medium {
  .footer {
    padding: 0 2.25rem 2.25rem;
    position: relative;

    &__container {
      @include mixins.flexed(flex-start, baseline);
      padding: 0;
    }

    &__title {
      @include mixins.title(colors.$white, 2.25rem, null, 600);
      padding: 3rem 2.25rem 2.25rem 0;
    }

    &__contact-container {
      @include mixins.flexed(flex-start, null);
      gap: 4.5rem;
    }

    &__text {
      @include mixins.title(null, 0.875rem, 1.25rem, null);
      // padding-bottom: 2.25rem;
    }

    &__text-title {
      font-weight: 600;
    }

    &__logo {
      position: absolute;
      top: 1.5rem;
      right: 3rem;
    }
  }
}

/* styles for header on desktop */
@include breakpoint.large {
  .footer {
    padding: 0 6rem 2.25rem;

    &__logo {
      // top: 1.5rem;
      right: 7rem;
    }
  }
}
