@use "../colors" as colors;
@use "../breakpoints" as breakpoint;
@use "../mixins" as mixins;

/* styles for header for mobile */
.header {
  background-color: colors.$bandsite-black;

  &__logo {
    max-width: 7.5rem;
    max-height: 1.25rem;
    padding: 1rem 0;
    margin: 0 auto;
    z-index: 1;
  }

  &__menu {
    @include mixins.flexed(space-around);
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__menu-item {
    flex: 0.5;
    text-align: center;
  }

  &__menu-item-link {
    display: block;
    @include mixins.title(colors.$mercury, 0.875rem);
    text-decoration: none;
    padding: 1rem 0;
    border-bottom: 0.2rem solid transparent;

    &:hover {
      color: colors.$white;
      border-bottom: 0.2rem solid colors.$white;
    }

    &--active {
      color: colors.$white;
      border-bottom: 0.2rem solid colors.$white;
    }
  }
}

/* styles for header on tablet device */
@include breakpoint.medium {
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    &__logo {
      padding-top: 2rem;
      padding-left: 2rem;
    }

    &__navigation {
      flex-grow: 1;
    }

    &__menu {
      justify-content: flex-start;
      gap: 2rem;
      margin: 0;
      padding-left: 5rem;
    }

    &__menu-item {
      flex: unset;
    }

    &__menu-item-link {
      @include mixins.title(null, 1rem, 2rem);
    }
  }
}

/* styles for header on desktop */
@include breakpoint.large {
  .header {
    &__logo {
      padding-left: 6rem;
    }
    &__menu {
      padding-left: 9rem;
    }
  }
}
