@use "../colors" as colors;
@use "../breakpoints" as breakpoints;
@use "../mixins" as mixins;

/* styles for header for mobile */
.header {
  background-color: colors.$bandsite-black;

  &__logo {
    padding: 1rem 0;
    text-align: center;
    height: 1.5rem;
  }

  &__menu {
    @include mixins.flexed(space-around);
    list-style-type: none;
    padding: 0;
  }

  &__menu-item {
    display: block;
    flex-grow: 1;
    text-align: center;
  }

  &__menu-item-link {
    display: block;
    @include mixins.title(colors.$white, 0.875rem, 600);
    text-decoration: none;
    padding: 1rem 0;

    &--active {
      border-bottom: 0.3rem solid colors.$white;
    }
  }
}
