@use "../colors" as colors;
@use "../breakpoints" as breakpoint;
@use "../mixins" as mixins;

/* styles for main content for mobile */
.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url(../../../assets/images/hero-shows.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 1rem;

  &__title {
    @include mixins.title(colors.$color-text-primary, 1.5rem, 2rem, 700);
    margin: 0;
    padding: 1rem 0;
    max-width: 16rem;
  }

  &__subtitle {
    @include mixins.title(colors.$color-text-primary, 0.875rem, null);
    margin: 0;
    padding-top: 1.5rem;
  }

  &__iframe {
    height: 10rem;
    padding-bottom: 1rem;
  }
}

.show {
  &__title {
    @include mixins.title(colors.$color-primary-dark, 1.5rem, 2rem, 700);
    margin: 0;
    padding: 1.5rem 1rem 1rem;
  }

  &__headers {
    display: none;
  }
}

.ticket {
  &:hover {
    background-color: colors.$color-background-secondary;
  }

  &--selected {
    background-color: colors.$color-ui-secondary;

    &:hover {
      background-color: colors.$color-ui-secondary;
    }
  }

  &__title {
    @include mixins.title(colors.$color-text-secondary, 0.875rem, 1.375rem);
    padding: 0 1rem;
    margin: 0;
  }

  &__text {
    @include mixins.title(colors.$color-primary-dark, 0.8125rem, 1.375rem, 400);
    margin: 0;
    padding: 0 1rem 1rem;
  }

  &__text-strong {
    font-weight: 600;
  }

  &__button {
    @include mixins.title(colors.$color-text-primary, 0.8125rem, null, 400);
    display: block;
    background-color: colors.$color-primary-dark;
    border-radius: 0.25rem;
    min-height: 2.5rem;
    padding: 0.875rem 2rem;
    text-decoration: none;
    text-align: center;
    margin: 0 1rem;

    &:hover {
      background-color: colors.$color-cta-hover;
    }
  }

  &__divider {
    border: 0.0625rem solid colors.$color-ui-secondary;
    margin: 0.5rem 0;
  }
}

/* styles for show content on tablet device */
@include breakpoint.medium {
  .hero {
    padding: 0 2.25rem;

    &__title {
      @include mixins.title(null, 3.75rem, 4.25rem, 600);
      max-width: 35rem;
      padding: 2.25rem 0;
    }

    &__subtitle {
      @include mixins.title(null, 1.5rem, 2rem, 600);
      padding-top: 3rem;
    }

    &__iframe {
      padding-bottom: 2.25rem;
    }
  }

  .show {
    padding: 0 2.25rem 2.25rem;
    &__title {
      @include mixins.title(null, 2.25rem, 2.75rem, 600);
      margin: 0;
      padding: 3rem 0 2.25rem;
    }
    &__headers {
      @include mixins.flexed(space-between, baseline);
    }
    &__headers-item {
      @include mixins.title(colors.$color-text-secondary, 0.875rem, 1.375rem);
      width: 25%;
      margin: 0;
    }
  }

  .ticket {
    @include mixins.flexed(space-between, baseline);
    padding: 1rem 0;

    &__title {
      display: none;
    }

    &__text {
      @include mixins.title(null, 0.875rem, 1.375rem, null);
      padding: 0;
      width: 25%;
    }

    &__button {
      @include mixins.title(null, 0.875rem, null, null);
      width: 25%;
      min-height: 2.5rem;
      text-align: center;
      margin: 0;
    }

    &__divider {
      margin: 0;
    }
  }
}

/* styles for header on desktop */
@include breakpoint.large {
  .hero {
    display: flex;
    align-items: center;
    padding: 0 6rem;
    gap: 3rem;

    &__title {
      padding: 2.25rem 0 14rem;
    }

    &__subtitle {
      padding-top: 6rem;
    }
  }

  .show {
    display: flex;
    padding: 0 6rem;

    &__title {
      width: 30%;
    }

    &__container {
      width: 70%;
      padding: 3rem 0;
    }

    &__headers-item {
      padding-bottom: 2.25rem;
    }
  }
}
